div.container {
    white-space: nowrap;
    display: inline-block;
 }

 img {
 	width: 100%; 
 }

.fade-animation {
	-webkit-animation: fadeinout 4s linear 1 forwards;
    animation: fadeinout 4s linear 1 forwards;
}

@keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 1; }
}

.nav-bar {
	margin: 0;
	padding: 0;
	float: right;
	m
}

.nav-bar li{
	display: inline-block;
	border: 1px solid transparent;
	padding: 10px;
	margin: 10px;
}

.nav-div {
	width: 60%;
	float: right;
}


.nav-logo {
	width: 30%;
	float: left;
	margin-top: 20px;
	font-size: 20px;
	margin-left: 20px;
}
.transparent {
	padding-top: 15px;
	background-color: transparent;
	border-bottom: 1px solid transparent;
}

.icon {
	width: 50px;
	margin-left: 45%;
}

.section1 {
	color: #777777;
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif
	text-align: center;
}

#div-sections{
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}
.div-section {
	width: 30%;
}

.div-section h3{
	text-align: center;
	font-family:'Open Sans', sans-serif;
}


#columns {
	column-width: 320px;
	column-gap: 15px;
	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

#columns figure{
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition:opacity .4s ease-in-out;
	column-break-inside:avoid;
	display: inline-block;
}

#columns figure img {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
	border-radius: 10px;
}

#columns:hover figure:not(:hover) {
	opacity: 0.4; 
} 

@media screen and (max-width: 950px) {
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}
















