html{
background-color:grey;
height: 100%;
font-size: 15px;
}

a{
	color: white;
	text-decoration: none;
}
a:hover{
	color: white;
	text-decoration: none;
}
a:clicked{
	color: white;
	text-decoration: none;
}
a:focus{
	color: white;
	text-decoration: none;
}
.side-menu{
	position: absolute;
	background-color: white;
	border: 1px solid black;
	height: 100%;
	top:-10px;
	left: -231px;
	padding: 10px;
	width: 200px;
	transition:0.3s linear; 
}

.body{
	width: 100%;
	position: relative;
	left:0px;
	height: 100%;
	transition:0.3s linear;
	background-color: transparent;
}

.menu-control{
	margin-left: 1%;
	font-size: 1.8rem;
	transition: 0.5s linear
}
.menu-open{
	left:222px;
}
